.form-control-lg,
.hp-input {
    font-size: 1.5rem !important;
    height: 80px !important;
    padding: 0.25rem !important;
    font-weight: bold !important;
    width: 80px !important;
}

.hp-input::-webkit-inner-spin-button,
.hp-input::-webkit-outer-spin-button {
    opacity: 1;
    margin: 0;
    height: 80px;
}

.box-no-input {
    @extend .hp-input; // Inherit styles from .hp-input
    margin: 0; // Remove default margin for number inputs in some browsers
    pointer-events: none; // Make it behave as if disabled for clicks
    background-color: var(--bs-secondary-bg); // Visually indicate disabled state
    opacity: 0.7; // Further visual indication of disabled state
}

.box-no-input::-webkit-inner-spin-button,
.box-no-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none; // Ensure they are not displayed
}

.hp-input-sm {
    font-size: 1rem !important; /* Smaller font */
    height: 40px !important;    /* Matches button height */
    padding: 0.25rem !important;
    font-weight: bold !important;
    width: 60px !important;     /* Smaller width */
}

.hp-input-sm::-webkit-inner-spin-button,
.hp-input-sm::-webkit-outer-spin-button {
    opacity: 1;
    margin: 0;
    height: 80px; /* Matches input height */
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
}

.damage-flash,
.heal-flash,
.temp-flash,
.mp-flash {
    animation-duration: 0.3s;
    animation-timing-function: ease;
}

.damage-flash {
    animation-name: flash-red;
}

.heal-flash {
    animation-name: flash-green;
}

.temp-flash {
    animation-name: flash-blue;
}

.mp-flash {
    animation-name: flash-blue;
}

.progress-bar {
    text-shadow: 0 0 2px black;
}

@keyframes flash-red {
    from {
        border-color: rgb(255, 0, 50);
    }

    to {
        border-color: var(--bs-secondary);
    }
}

@keyframes flash-green {
    from {
        border-color: springgreen;
    }

    to {
        border-color: var(--bs-secondary);
    }
}

@keyframes flash-blue {
    from {
        border-color: aqua;
    }

    to {
        border-color: var(--bs-secondary);
    }
}

.btn-icon-square {
    width: 40px; 
    height: 40px; 
    padding: 0.25rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem; // Adjust icon size within button

    i {
        margin: 0; 
    }
}

.hit-points-component-container {
    flex-flow: nowrap;
}