@import 'bootstrap';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

    --bs-body-bg: #18181b !important;
    --bs-bg-dark: #18181b !important;
    
}


@font-face {
    font-family: 'Pathfinder-Icons';
    src: url('/Pathfinder-Icons.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

span.action {
    font-family: 'Pathfinder-Icons';
    font-variant: normal;
    font-weight: normal;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    text-align: center;
}


main {
    flex: auto;
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    align-items: stretch;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

.dark-btn {
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    background-color: #27272a;
}

.dark-btn:hover {
    background-color: #3f3f46;
}


.dark-btn-primary {
    transition: all 0.2s ease-in-out, box-shadow 0.2s ease-in-out; // Ensure box-shadow is part of the transition
    padding: 0.5rem 1rem;
    border: 1px solid #ff0026;
    // Add an inner glow effect
    // inset | offset-x | offset-y | blur-radius | spread-radius | color
    // Using the border color (#ff0026) with transparency for the glow
    box-shadow: inset 0 0 10px 1px rgba(255, 0, 38, 0.55); 
}

.dark-btn-primary:hover {
    background-color: #5f04124b;
    // Optionally, adjust the inner glow on hover
    // Example: make it slightly more intense or a bit lighter
    box-shadow: inset 0 0 16px 2px rgba(255, 50, 80, 0.7);
    border: 1px solid #ff0026;
    color: cyan;
}

.dark-btn-nav {
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    border: 1px solid #5e3aff;
    background-color: #4e2af3;
}
.dark-btn-nav:hover {
    background-color: #5e3aff;
}

.input-group-text {
    background-color: var(--bs-body-bg) !important;
}